<a href="/stock">Stock / </a>
<a href="/grocerylist">Grocery List / </a>
<a href="/">All Recipes / </a>
<a href="/favorites">Favorites / </a>
<a href="/vegetarian">Vegetarian Recipes / </a>
<a href="/vegan">Vegan Recipes</a>
