<!DOCTYPE html>
<html>
    <h1>Recipes</h1>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style type="text/css">
        body {
            padding-top: 100px;
        }

        .form-container {
            width: 400px;
            margin: auto;
        }

        .creatorInformation {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }
    </style>
</head>
<body>
    <button type="button">All Recipes</button>
    <button type="button">Vegan Recipes</button>
    <button type="button">Vegetarian Recipes</button>

    <%- include('partials/all-recipes') %>
</body>
</html>